
@import "./variables";
@import "./flex";
@import "./paddings";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: $baseFontWeight;
  font-size: 1.0rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  font-size: $baseFontSize;
}

body {
  background: $bodyBgColor;
  color: $bodyColor;
  font-family: $bodyFontFamily;
  line-height: $baseLineHeight;
}

main#root {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@mixin fontSize($n) {
  font-size: $n * 1.0rem;
  line-height: $n * $baseLineHeight * 1.0rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-weight: 200;
}

h1 {
  @include fontSize(2.5);
}

h2 {
  @include fontSize(2.0);
}

h3 {
  @include fontSize(1.8);
}

h4 {
  @include fontSize(1.6);
}

h5 {
  @include fontSize(1.3);
}

h6 {
  @include fontSize(1.1);
}
